<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="main">
    <h3>Enter your login credentials</h3>
    <form action="" th:action="@{/login}" th:object="${user}" method="post">
        <div>
            <label for="name">Username:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
</div>
</body>
</html>